<!DOCTYPE html>
<html>
<head>
  <title>Clockface</title>
  <%= stylesheet_link_tag    "clockface/application", media: "all" %>
  <%= javascript_include_tag "clockface/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
