<% flash.each do |flash_type, message| %>
  <%
    flash_class = {
      success: "alert-success",
      error: "alert-danger",
      alert: "alert-warning",
      notice: "alert-info"
    }[flash_type.to_sym] || flash_type.to_s
  %>

  <%
    formatted_message =
      if message.is_a?(Array)
        content_tag(:ul) do
          message.each { |item| concat content_tag(:li, item) }
        end
      else
        message
      end
  %>
  <div class="flash active alert <%= flash_class %> fade in">
    <button class="flash__close close" data-dismiss="alert">x</button>
    <%= formatted_message.html_safe %>
  </div>
<% end %>
