<div class="application-footer">
  <div class="application-footer__need-help">
    <i>
      <%= t(".need_help_html", href: "https://stackoverflow.com/questions/tagged/clockface") %>
    </i>
  </div>
  <div class="application-footer__version">
      v<%= Clockface::VERSION %>
  </div>
  <%= link_to "https://gitlab.com/abhchand/clockface", class: "application-footer__source-link", target: "_blank" do %>
    <div class="application-footer__source-btn">
      &lt;/&gt;
    </div>
  <% end %>
</div>
