<div class="application-footer">
  <%= link_to "https://github.com/abhchand/clockface", class: "application-footer__source-link", target: "_blank" do %>
    <div class="application-footer__source-btn">
      &lt;/&gt;
    </div>
  <% end %>
</div>
