<nav class="jobs-nav navbar navbar-default container">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= clockface.root_path %>">
        <%= inline_svg "clockface/clock.svg" %>
      </a>
      <span class="jobs-nav__heading"><%= t(".heading") %></span>
      <span class="jobs-nav__version">(v<%= Clockface::VERSION %>)</span>
    </div>
  </div>
</nav>
