.tasks-form__form-element--name {
  input {
    width: 400px;
  }
}

.tasks-form__form-element--description {
  textarea {
    width: 400px;
  }
}

.tasks-form__form-element--command {
  input {
    width: 400px;
  }
}

.tasks-new__form-submit {
}
