.events-form__form-element--name {
}

.events-form__form-element--enabled {
}

.events-form__form-element--period {
}

.events-form__form-element--period-value {
  display: inline-block;
  width: 5%;
  min-width: 50px;
}

.events-form__form-element--period-units {
  display: inline-block;
  width: 15%;
  min-width: 110px;
}

.events-form__form-element--at {
}

.events-form__form-element--day-of-week {
  display: inline-block;
  width: 15%;
  min-width: 110px;
}

.events-form__form-element--hour {
  display: inline-block;
  width: 5%;
  min-width: 50px;
}

.events-form__form-element--minute {
  display: inline-block;
  width: 5%;
  min-width: 50px;
}

.events-form__form-element--time_zone {
}

.events-form__form-element--time_zone select {
    display: inline-block;
    width: 30%;
    min-width: 220px;
}

.events-form__form-element--if_condition {
}

.events-form__form-element--if_condition select {
    display: inline-block;
    width: 20%;
    min-width: 110px;
}

.events-new__form-submit {
}
