.application-nav {
  background-color: $dark_blue;
}

.application-nav__heading {
  font-size: 32px;
  color: $teal;
}

.application-nav__version {
  margin-left: 12px;
  color: $white;
}

.navbar-brand {
  height: 100%;
}
