.jobs-nav {
  background-color: #003366;
}

.jobs-nav__heading {
  font-size: 32px;
  color: #10C8CD;
}

.jobs-nav__version {
  margin-left: 12px;
  color: #FFFFFF;
}

.navbar-brand {
  height: 100%;
}
