<div class="container">
  <div class="jobs-edit__heading-banner">
    <h1>
      <%= link_to clockface.jobs_path, class: "jobs-edit__heading-banner-link" do %>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <% end %>
      <%= t(".heading").downcase %>
    </h1>
  </div>

  <%= render "clockface/application/flash" %>

  <%= render "job_form", job: @job, form_url: clockface.job_path(@job), allow_editing_event: false, time_zone_selector_default: nil %>
</div>
