<div class="container">
  <div class="jobs-new__heading-banner">
    <h1>
      <%= link_to clockface.jobs_path, class: "jobs-new__heading-banner-link" do %>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <% end %>
      <%= t(".heading").downcase %>
    </h1>
  </div>

  <%= render "clockface/application/flash" %>

  <%= render "job_form", job: Clockface::ClockworkScheduledJob.new, form_url: clockface.jobs_path,  allow_editing_event: true %>
</div>
