<div class="container">
  <%= render "header" %>

  <h3><%= t(".heading") %></h3>
  <%= render "clockface/application/flash" %>

  <%= render "job_form", default_timezone: @default_timezone %>
</div>
