<div class="container">
  <h1>Clockface</h1>

  <%= inline_svg "clockface/clock.svg", width: "40px", height: "40px" %>
  <h3><%= t(".heading") %></h3>

  <%= render "job_form", default_timezone: @default_timezone %>
</div>
