<div class="container">
  <h1><%= t(".heading") %></h1>
  <%= render "clockface/application/flash" %>

  <%= render "job_form", job: Clockface::ClockworkScheduledJob.new, default_timezone: @default_timezone %>
</div>
