.jobs-delete__job-detail {
  margin: 25px auto;
}

.jobs-delete__job-detail-element {
  height: 25px;

  &.form-group {
    margin-bottom: 5px;
  }
}

.jobs-delete__job-detail-element--enabled {
  .enabled-job {
    color: green;
  }

  .disabled-job {
    color: red;
  }
}

.jobs-delete__captcha-label {
  margin-bottom: 10px;

  span {
    font-weight: 700;
    font-family: monospace;
    font-size: 16px;
    background-color: $post_it_yellow;
  }
}

.jobs-delete__form-element--captcha {
  display: inline-block;
  width: 15%;
  margin-bottom: 25px;
  min-width: 110px;
}
